In [ ]:
import pandas as pd

:

In [ ]:
sample_information_path="/Users/alichemkhi/Desktop/myProjects/2D_gast/data/2dgas-fs/raw_data/sample_information.tsv"
sample_information_df=pd.read_csv(sample_information_path,sep="\t")
sample_information_df.columns=["cell","time","condition"]
sample_information_df["plate"]=sample_information_df["cell"].map(lambda x : x[0:6])
sample_information_df

           cell time condition   plate
0     D1439T001  t35       WNT  D1439T
1     D1439T002  t35       WNT  D1439T
2     D1439T003  t35       WNT  D1439T
3     D1439T004  t35       WNT  D1439T
4     D1439T005  t35       WNT  D1439T
...         ...  ...       ...     ...
1147  D1478T764  t37       BMP  D1478T
1148  D1478T765  t37     MM468  D1478T
1149  D1478T766  t37     MM468  D1478T
1150  D1478T767  t37     MM468  D1478T
1151  D1478T768  t37       Neg  D1478T

[1152 rows x 4 columns]

In [ ]:
# plate distribution 
sample_information_df["plate"].value_counts()

plate
D1478T    768
D1439T    384
Name: count, dtype: int64

# plate 1

In [ ]:
sample_information_1_df=sample_information_df[sample_information_df["plate"]=="D1439T"]
display("",sample_information_1_df)
display("condition dist",sample_information_1_df["condition"].value_counts())
display("time dit      ",sample_information_1_df["time"].value_counts())

''

          cell time condition   plate
0    D1439T001  t35       WNT  D1439T
1    D1439T002  t35       WNT  D1439T
2    D1439T003  t35       WNT  D1439T
3    D1439T004  t35       WNT  D1439T
4    D1439T005  t35       WNT  D1439T
..         ...  ...       ...     ...
379  D1439T380  t35       BMP  D1439T
380  D1439T381  t35     MM468  D1439T
381  D1439T382  t35     MM468  D1439T
382  D1439T383  t35     MM468  D1439T
383  D1439T384  t35       Neg  D1439T

[384 rows x 4 columns]

'condition dist'

condition
WNT      192
BMP      188
MM468      3
Neg        1
Name: count, dtype: int64

'time dit      '

time
t35    384
Name: count, dtype: int64

# plate 2 and 3

In [ ]:
sample_information_2_df=sample_information_df[sample_information_df["plate"]=="D1478T"]
display("",sample_information_2_df)
display("condition dist",sample_information_2_df["condition"].value_counts())
display("time dit      ",sample_information_2_df["time"].value_counts())

''

           cell time condition   plate
384   D1478T001  t36       WNT  D1478T
385   D1478T002  t36       WNT  D1478T
386   D1478T003  t36       WNT  D1478T
387   D1478T004  t36       WNT  D1478T
388   D1478T005  t36       WNT  D1478T
...         ...  ...       ...     ...
1147  D1478T764  t37       BMP  D1478T
1148  D1478T765  t37     MM468  D1478T
1149  D1478T766  t37     MM468  D1478T
1150  D1478T767  t37     MM468  D1478T
1151  D1478T768  t37       Neg  D1478T

[768 rows x 4 columns]

'condition dist'

condition
WNT      384
BMP      376
MM468      6
Neg        2
Name: count, dtype: int64

'time dit      '

time
t36    384
t37    384
Name: count, dtype: int64